* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ff5b2e;
    --background-color: #fffaf5;
    --background-color-1: #fff6ed;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}
/* common */
input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
    border: none;
}

a {
    font-family: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 56px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    font-weight: 500;
    font-size: 1.6rem;
    text-align: center;
    border-radius: 999px;
    transition: opacity 0.2s;
}

.btn:hover {
    opacity: 0.6;
}

.btn--primary {
    color: #fff;
    background: var(--primary-color);
}

.btn--primary-01 {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transition: box-shadow 0.2s;
}

.btn--primary-01:hover {
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.btn__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fffaf5;
}

.heading {
    color: #000958;
}

.heading.lv1 {
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
}

.heading.lv2 {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.2;
}

.heading.lv3 {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.desc {
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88;
}

/* Header */

.header {
    position: sticky;
    top: -18px;
    z-index: 10;
    padding: 26px 0 8px 0;
    background: inherit;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    padding: 8px 18px;
}

.navbar__link,
.header__action--link {
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
}

.navbar__link:hover,
.header__action--link:hover {
    color: #000958;
    text-shadow: -0.1px -0.1px currentColor, 0.1px 0.1px currentColor;
}

.header-action__btn {
    color: #000958;
    height: 50px;
    line-height: 50px;
    font-size: 1.4rem;
    font-weight: 600;
    margin-left: 10px;
    min-width: 117px;
    border: 1px solid rgb(0, 9, 88, 0.7);
}

/* Hero */

.hero {
    padding: 92px 0 77px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 120px;
}

.hero__media {
    position: relative;
    display: flex;
    padding-bottom: 94px;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 388px;
    height: 488px;
    background: #fe997b;
    border-radius: 16px;
    border: 3px solid #fff;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor-left {
    left: -58px;
    bottom: 10px;
}

.hero__decor-right {
    top: 16px;
    right: -43px;
}

.hero__img-wrap-small {
    align-self: flex-end;
    width: 186px;
    height: 244px;
    margin: 0 0 -58px -24px;
    border: 2px solid #f7dddf;
    background: #faa7ad;
}

.hero__list {
    position: absolute;
    left: 129px;
    bottom: 0;
    width: 250px;
    height: 156px;
    padding: 18px 14px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    border-radius: 10px;
}

.hero-list-item {
    display: flex;
}

.hero-list-item__thumb {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
    background: #fec23f;
}

.hero-list-item__info {
    margin-left: 10px;
}

.hero-list-item__title {
    font-family: Sora, sans-serif;
    font-weight: 600;
    font-size: 1.4;
    line-height: 1;
    color: #181e52;
}

.hero-list-item__skeleton {
    margin-top: 6px;
    width: var(--width, 118px);
    height: 4px;
    background: #000958;
    opacity: 0.08;
    border-radius: 10px;
}

.hero-list-item__separate {
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background: #f2f2f2;
    border-radius: 99px;
}

.hero-list-item:nth-of-type(2) .hero-list-item__thumb {
    background: #c6e2fa;
}

.hero__content {
    min-width: 517px;
}

.hero__desc {
    margin-top: 24px;
    width: 391px;
}

.hero__row {
    margin-top: 38px;
}

.hero__cta-btn {
    --height: 60px;

    font-weight: 600;
    min-width: 189px;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__call {
    color: #000958;
    margin-left: 16px;
    padding: 8px;
    font-weight: 500;
    text-decoration: underline;
}

/* About */

.about {
    padding: 53px;
}

.about__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__content {
    max-width: 477px;
}

.about__inner--small-item {
    color: #5e6085;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.about__heading {
    margin-top: 15px;
    width: 446px;
}

.about__desc {
    margin-top: 24px;
    width: 431px;
}

.about__row {
    margin-top: 54px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 34px 36px;
}

.about__item {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.about__check--icon {
    width: 24px;
    height: 24px;
    background: #ff5d31;
}

.about__row--sub {
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    white-space: nowrap;
}

.about__media {
    height: 559px;
    display: flex;
    align-items: flex-end;
}

.about__img-wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    min-width: 494px;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
}

.about__img {
    max-width: 494px;
    max-height: 559px;
    object-fit: cover;
    border-radius: inherit;
}

.about__decor {
    position: absolute;
}

.about__media--mini-decor {
    top: -58px;
    left: -92px;
    width: 136px;
    height: 156px;
    padding: 31px 26px;
    text-align: center;
    border-radius: 10px;
    cursor: default;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about__media-sub {
    color: #fff;
    font-family: Sora;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
}

.about__media-desc {
    margin-top: 14px;
    color: #c6f4f9;
    font-size: 1.4rem;
    font-family: Poppins;
    font-weight: 400;
    line-height: 1.43;
}

.about__decor-02 {
    top: -39px;
    left: 83px;
}

.about__decor-01 {
    z-index: -1;
    top: -66px;
    right: -50px;
}

/* Feature */
.feature {
    padding: 93px 0 185px;
}

.feature__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feature__media {
    width: 458px;
    height: 500px;
}

.feature__media-wrap {
    position: relative;
    width: 458px;
    height: 500px;
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(rgba(198, 226, 250, 1), rgba(148, 194, 234, 1));
}

.feature__img {
    max-width: 100%;
    min-height: 100%;
    border-radius: inherit;
    object-fit: cover;
}

.feature__decor {
    position: absolute;
}

.feature__decor-01 {
    top: -16px;
    right: 13px;
}

.feature__decor-02 {
    top: 33px;
    right: -24px;
}

.feature__decor-03 {
    top: 12px;
    right: 63px;
}

.feature__decor-04 {
    bottom: 206px;
    right: -37px;
}

.feature__decor-05 {
    right: 19px;
    bottom: 150px;
}

.feature__decor-06 {
    bottom: -55px;
    right: -42px;
}

.feature__content {
    max-width: 557px;
}

.feature__desc {
    margin-top: 24px;
    width: 511px;
}

.feature__mini-content {
    margin-top: 52px;
    display: flex;
    justify-content: space-between;
}

.feature__mini-content--item {
    position: relative;
    padding: 0px 28px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    border-bottom: 2px solid #fcf0e8;
    cursor: default;
}
.feature__mini-content--item:first-child {
    padding-left: 0;
}

.feature__mini-content--item::after {
    position: absolute;
    bottom: 0;
    content: "";
    width: 95px;
    height: 2px;
    opacity: 0;
    background: var(--primary-color);
    transition: opacity 0.3s ease-in-out;
}

.feature__mini-content--item:hover::after {
    opacity: 1;
}

.feature__mini-content--heading {
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
    white-space: nowrap;
}

.feature__mini-content--desc {
    margin-top: 36px;
}

.feature__mini-content--desc {
    width: 391px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}

.feature__link {
    display: inline-block;
    margin-top: 32px;
    position: relative;
    color: #ff5d31;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}

.feature__link::after {
    position: absolute;
    bottom: -3px;
    left: 0;
    content: "";
    width: 86px;
    height: 1.5px;
    background: #ff5d31;
}

/* Service */

.service {
    padding: 68px 0 100px;
    background: #fff6ed;
}

.service__top {
    text-align: center;
}
.service__top--desc {
    margin-bottom: 15px;
    color: #5e6085;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.service__bottom {
    margin-top: 31px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 71px;
}

.service__content--left,
.service__content--right {
    margin-top: 40px;
    width: 294px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.service__item {
    width: 294px;
    height: 208px;
    padding: 30px 22px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);

    background: #fff;
}

.content__item--heading {
    position: relative;
    margin-left: 12px;
}

.content__item--heading::before {
    display: block;
    position: absolute;
    top: 0;
    left: -12px;
    content: "";
    width: 2px;
    height: 22px;
    background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
}

.service__item--desc {
    margin-top: 18px;
    width: 244px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}

.service__item-link {
    margin-top: 24px;
    display: flex;
    align-items: center;
    column-gap: 6px;
}

.service__item-link--cta {
    color: #34396a;
    font-family: Sora;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
}

.service__center {
    width: 440px;
    height: 751px;
    text-align: center;
}

.service__media {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 440px;
    height: 650px;
    border-radius: 10px;
}

.service__media-wrap {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 410px;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.service__img {
    max-width: 440px;
}

.service__btn {
    margin-top: 45px;
    min-width: 214px;
}

/* Staff */

.staff {
    padding: 130px 0;
}

.staff__desc,
.staff__heading {
    text-align: center;
}

.staff__heading {
    margin-top: 15px;
}

.staff__list {
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
}

.staff-item {
    text-align: center;
}

.staff-item__img-wrap {
    position: relative;
    margin: 0 16px;
    border-radius: 130px;
}

.staff-item__img-wrap::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90%;
    border-radius: inherit;
}

.staff-item__img-wrap::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: calc(100% + 36px);
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

.staff-item:nth-child(1) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}

.staff-item:nth-child(1) .staff-item__img-wrap::after {
    background-image: url(../img/staff-decor-01.svg);
}

.staff-item:nth-child(2) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.staff-item:nth-child(2) .staff-item__img-wrap::after {
    background-image: url(../img/staff-decor-02.svg);
}

.staff-item:nth-child(3) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.staff-item:nth-child(3) .staff-item__img-wrap::after {
    background-image: url(../img/staff-decor-03.svg);
}

.staff-item:nth-child(4) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.staff-item:nth-child(4) .staff-item__img-wrap::after {
    background-image: url(../img/staff-decor-04.svg);
}

.staff-item:nth-child(even) .staff-item__img-wrap::after {
    background-position: 0 16px;
}

.staff-item__img {
    display: block;
    position: relative;
    width: 100%;
    z-index: 1;
    object-fit: cover;
    border-radius: inherit;
}

.staff-item__title {
    margin-top: 34px;
    color: #656689;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
}

.staff-item__name {
    margin-top: 14px;
}

.staff__cta-wrap {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.staff__cta {
    min-width: 193px;
}

/* Pricing */
.pricing {
    padding: 86px 0;
    background: #fff6ed;
}

.pricing__container {
    width: 994px;
}

.pricing__heading,
.pricing__desc {
    text-align: center;
}

.pricing__desc {
    margin-top: 24px;
    margin: 0 auto;
    width: 709px;
}

.pricing__switch-wrap {
    display: flex;
    justify-content: center;
    margin-top: 38px;
}

.pricing__switch-inner {
    position: relative;
}

.pricing__switch-label {
    width: 276px;
    height: 56px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    border-radius: 999px;
    border: 1px solid #ff5b2e;
    user-select: none;
    cursor: pointer;
}

.pricing__switch-label::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 140px;
    height: 100%;
    border-radius: inherit;
    background: var(--primary-color);
}

.pricing__switch-value {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}

.pricing__switch-input:checked + .pricing__switch-label::before {
    width: 131px;
    left: auto;
    right: 0;
}

.pricing__switch-input:not(:checked)
    + .pricing__switch-label
    .pricing__switch-value:nth-of-type(2),
.pricing__switch-input:checked
    ~ .pricing__switch-label
    .pricing__switch-value:nth-of-type(1) {
    color: #ff5b2e;
}

.pricing__sale-off {
    position: absolute;
    top: -10px;
    right: -112px;
}

.pricing__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 44px;
    margin-top: 56px;
}

.pricing-item {
    padding: 30px 28px;
    border-radius: 20px;
    background: #fff;
}

.pricing-item__type {
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
}

.pricing-item__heading {
    margin-top: 8px;
    color: #3f4065;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.pricing-item__price {
    margin-top: 24px;
    color: #000958;
    font-family: Sora;
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 1.03;
}

.pricing-item__btn {
    --height: 44px;

    margin-top: 22px;
    width: 100%;
    border: 1px solid rgba(255, 91, 46, 0.6);
    color: var(--primary-color);
    background: transparent;
    transition: background-color 0.2s, color 0.2s;
}

.pricing-item__btn:hover {
    color: #fff;
    background: var(--primary-color);
    opacity: 1;
}

.pricing-item__list {
    margin-top: 24px;
}

.pricing-item__item {
    margin-top: 18px;
    display: flex;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
    white-space: nowrap;
}

.pricing-item__item::before {
    content: url(../img/Check.svg);
    margin-right: 12px;
}
