* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ff5b2e;
    --background-color: #fffaf5;
    --background-color-1: #fff6ed;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

/* common */

.container {
    width: 1440px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
